<ion-header>

  <ion-toolbar class="contigo">

    <ion-buttons slot="start">
      <ion-button color="light" routerLink="/home">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    
      <ion-title> Perfil </ion-title>

  </ion-toolbar>
  <ion-img src="./assets/images/banner.png"></ion-img>
</ion-header>

<ion-content>

  <ion-item  details="">
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>
      {{datoshijos.nombre}} 
      <!-- caputar nombre de hijo--> 
    </ion-label>
  </ion-item>

<ion-list>

  <ion-item>
    <ion-label>Genero</ion-label>
    <ion-note slot="end">{{datoshijos.sexo}}</ion-note>
  </ion-item>

  <ion-item>
    <ion-label>Alergico</ion-label>
    <ion-note slot="end">{{datoshijos.alergico}} </ion-note>
  </ion-item>
<!-- caputar dato requerido -->
  <ion-item>
    <ion-label>Diagnostico</ion-label>
    <ion-note slot="end">{{datoshijos.diagnostico}}</ion-note>
  </ion-item>

  <ion-item>
    <ion-label>Fecha control medico</ion-label>
    <ion-note slot="end">{{datoshijos.fecha_cita}}</ion-note>
  </ion-item>


  
</ion-list>

</ion-content>
