<ion-header>

  <ion-toolbar class="contigo">

    <ion-buttons slot="start">
      <ion-button color="light" routerLink="/usuario">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    
      <ion-title></ion-title>

  </ion-toolbar>
  <ion-img src="./assets/images/banner.png"></ion-img>
</ion-header>

<ion-content>

  <ion-item>    
    <ion-label position="floating">Ingresar Nuevo Celular</ion-label>
    <ion-input [(ngModel)]="celular"></ion-input>
  </ion-item>

  <ion-item>    
    <ion-label position="floating">Confirmar Nuevo Celular</ion-label>
    <ion-input [(ngModel)]="nuevoCelular"></ion-input>
  </ion-item>

  <ion-button expand="block" class="ion-margin contigo" (click)="ModificarCelular()">
    Enviar <ion-icon name="keypad-outline" class="ion-margin-start" ></ion-icon>
   </ion-button>
 <!-- validar que ambos numeros coincidan-->

</ion-content>
