<ion-header>

  <ion-toolbar class="contigo">

    <ion-buttons slot="start">
      <ion-button color="light" routerLink="/home">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    
      <ion-title></ion-title>

  </ion-toolbar>
  <ion-img src="./assets/images/banner.png"></ion-img>
</ion-header>

<ion-content>
  <div id="center">
    <img src="assets/images/logo.png">
  </div>
  
  <div id="center"><ion-icon name="build"></ion-icon></div>

</ion-content>


