<ion-header>

  <ion-toolbar class="contigo">

    <ion-buttons slot="start">
      <ion-button color="light" routerLink="/home">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    
      <ion-title></ion-title>

  </ion-toolbar>
  <ion-img src="./assets/images/banner.png"></ion-img>
</ion-header>

<ion-content>

  

  <ion-item class="ion-margin">
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>
      Nombre
      <!-- caputar nombre usuario--> 
    </ion-label>
  </ion-item>

      <ion-list class="ion-margin-top">

        <ion-item>
          <ion-label>Celular</ion-label>
          <ion-note slot="end">999999999</ion-note>
        </ion-item>

        <ion-item>
          <ion-label >e-mail</ion-label>
          <ion-note slot="end">xxx@xxx</ion-note>
        </ion-item>

      </ion-list>

  <div class="ion-margin-top">

      <ion-item class= "ion-margin-top" button routerLink="/cambio-correo" detail>
      <ion-label>
        Cambiar e-mail
      </ion-label>
    </ion-item>

    <ion-item button routerLink="/cambio-celular" detail>
      <ion-label>
        Cambiar numero de celular
      </ion-label>
    </ion-item>

    <ion-item button routerLink="/cambio-contrasena" detail>
      <ion-label>
        Cambiar Contraseña
      </ion-label>
    </ion-item>

  </div>

</ion-content>


