<ion-header>
  <ion-toolbar class="contigo">
    <ion-title>Login</ion-title>
      </ion-toolbar> 
      <ion-img src="./assets/images/banner.png"></ion-img> 
</ion-header>

<ion-content>
<div id="center">
  <img src="assets/images/logo.png">
</div>
    
  <ion-item id="form">    
    <ion-label position="floating">Rut</ion-label>
    <ion-input [(ngModel)]="rut"></ion-input>
  </ion-item>

  <ion-item id="form">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="contrasena"></ion-input>
  </ion-item>

  <ion-button expand="block" class="ion-margin contigo" (click)="login()">
      Ingresar 
      <ion-icon name="finger-print" class="ion-margin-start"></ion-icon>
    </ion-button>

  <ion-button expand="block" class="ion-margin contigo" routerLink="/restablecer">
     Recuperar Contraseña 
     <ion-icon name="keypad" class="ion-margin-start"></ion-icon>
    </ion-button>
  
</ion-content>
