<ion-header>

  <ion-toolbar class="contigo">

    <ion-buttons slot="start">
      <ion-button color="light" (click)="logout()">
        <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-button color="light" routerLink="/usuario">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Bienvenido</ion-title>

  </ion-toolbar>
  <ion-img src="./assets/images/banner.png"></ion-img>
</ion-header>

<ion-content>
  <div id="center">
    <img src="assets/images/logo.png">
  </div>

   
  <ion-item class="ion-margin-top" *ngFor="let hijo of hijos" button (click)="goProfile(hijo)" detail>
    <ion-icon slot="start" name="person"></ion-icon>
    <ion-label>
      {{hijo.nombre}} {{hijo.apellido}}  <!-- {{hijo.rut}}  = rut => desglosar por el rut => consulta con la info-->
    </ion-label>
  </ion-item>
 
  
  <ion-button routerLink="/agenda" class="ion-margin-top contigo" expand="block">Reserva tu hora <ion-icon slot="start" name="calendar-number"></ion-icon></ion-button>


</ion-content>
