<ion-header >
  <script src="js/ionic.popup.select.min.js"></script>
  <ion-toolbar class="contigo">

    <ion-buttons slot="start">
      <ion-button color="light" routerLink="/home">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title>Agenda Médica</ion-title>

  </ion-toolbar>
</ion-header>
<p></p>


<ion-content>
  
  <ion-item>
    <ion-label>Especialidad Medica</ion-label>
    <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Seleccione">
      <ion-select-option value="brown">Medicina General</ion-select-option>
      <ion-select-option value="blonde">Radiologia</ion-select-option>
      <ion-select-option value="red">Odontologia</ion-select-option>
      <ion-select-option value="red">Cardiologia</ion-select-option>
      <ion-select-option value="red">Psicologo</ion-select-option>      
    </ion-select>
  </ion-item>

  <p></p>
  <ion-item>
    <ion-label>Medicos</ion-label>
    <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Seleccione">
      <ion-select-option value="brown">Sebastián Obando</ion-select-option>
      <ion-select-option value="blonde">Manuel Ciro</ion-select-option>
      <ion-select-option value="red">Deiby Rayo</ion-select-option>
      </ion-select>
      </ion-item>
  <p></p>

  <ion-item>
    <ion-label>Selecione el paciente</ion-label>
    <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Seleccione">
      <ion-select-option value="brown">Sebastián Obando</ion-select-option>
      <ion-select-option value="blonde">Manuel Ciro</ion-select-option>
      <ion-select-option value="red">Deiby Rayo</ion-select-option>
    </ion-select>
  </ion-item>
  <p></p>

   <center><ion-datetime></ion-datetime></center>


</ion-content>
