<ion-header>
  <script src="js/ionic.popup.select.min.js"></script>
  <ion-toolbar class="contigo">

    <ion-buttons slot="start">
      <ion-button color="light" routerLink="/home">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Agenda Médica</ion-title>

  </ion-toolbar>
</ion-header>
<p></p>


<ion-content>

  <ion-item>
    <ion-label>Especialidad Medica</ion-label>
    <ion-select (ionChange)="tipoCitaChange($event)" [(ngModel)]="tipoCita" [interfaceOptions]="customPopoverOptions"
      interface="popover" placeholder="Seleccione">
      <ion-select-option required *ngFor="let tipoCita of tipoCitas" [value]="tipoCita.id">{{tipoCita.nombre}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <p></p>
  <ion-item>
    <ion-label>Medicos</ion-label>
    <ion-select (ionChange)="doctorChange($event)" [(ngModel)]="doctor" [interfaceOptions]="customPopoverOptions"
      interface="popover" placeholder="Seleccione">
      <ion-select-option required *ngFor="let doctor of doctores" [value]="doctor.doctor_id">{{doctor.nombre}}
        {{doctor.apellido}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <p></p>

  <ion-item>
    <ion-label>Selecione el paciente</ion-label>
    <ion-select [interfaceOptions]="customPopoverOptions" [(ngModel)]="hijo" interface="popover"
      placeholder="Seleccione">
      <ion-select-option required *ngFor="let hijo of hijos" [value]="hijo.rut">{{hijo.nombre}} {{hijo.apellido}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <p></p>

  <center>
    <ion-datetime (ionChange)="diaChange($event)" presentation="date" [(ngModel)]="dia"></ion-datetime>
  </center>
  <p></p>
  <!-- lista de horarios-->
    <ion-list>
      <ion-item *ngFor="let tramo of tramos">
        <center>
          <ion-button expand="block" class="ion-margin contigo" (click)="seleccionar_tramo(tramo.horario_tramo_doctor_id)">
          {{tramo.Hora_Inicio}} - {{tramo.Hora_Fin}} 
        </ion-button>
      </center>

      </ion-item>
    </ion-list>

  <ion-button expand="block" class="ion-margin contigo" (click)=" agendar_cita()">Agendar hora medica</ion-button>
  
</ion-content>